@import url("https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+AU+TAS:wght@100..400&family=Pridi:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: "Mukta", sans-serif;
}
.home {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .home {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .home {
    max-width: 850px;
  }
}
@media (min-width: 992px) {
  .home {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .home {
    max-width: 1110px;
  }
}
@media (min-width: 1400px) {
  .home {
    max-width: 1320px;
  }
}
body {
  background-image: linear-gradient(
    to right,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.top,
.mid,
.midTwo,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.container .screen {
  width: 94.5%;
  height: 50px;
  margin-bottom: 50px;
  background-color: gray;
  padding: 10px;
  font-size: 24px;
  text-align: right;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: default;
}

.top input,
.mid input,
.midTwo input,
.bottom input {
  max-width: 85px;
  min-width: 45px;
  height: 35px;
  font-size: 25px;
  padding: 10px;
  background: #9f9f9f;
  margin: 3px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}
.top input:hover,
.mid input:hover,
.midTwo input:hover,
.bottom input:hover {
  background-color: #363636;
  transition: 0.2s;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(29, 29, 78);
}

.btns input {
  color: white;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
  width: 49%;
  border-radius: 5px;
}
.btns input:nth-child(2) {
  height: 38px;
  border: none;
  outline: none;
  background: red;
}
.btns input:nth-child(2):hover {
  background: rgb(152, 9, 9);
}
.btns input:nth-child(1) {
  height: 38px;
  border: none;
  outline: none;
  background: rgb(25, 92, 181);
}
.btns input:nth-child(1):hover {
  background: rgb(20, 67, 130);
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
